@namespace Heron.MudCalendar
@inherits CalendarViewBase

@Render

@code {

    protected virtual RenderFragment Render =>
        @<div class="mud-cal-month-table-holder mud-cal-month-view">
            @RenderHeaderGrid
            @RenderBodyGrid
    </div>;

    protected virtual RenderFragment RenderHeaderGrid =>
        @<div class="mud-cal-grid-header mud-cal-month-grid-header">
            @RenderHeader
    </div>;

    /// <summary>
    /// Renders the component.
    /// </summary>
    protected virtual RenderFragment RenderBodyGrid =>
        @<MudDropContainer
             @ref="_dropContainer"
             T="CalendarItem"
             Items="Calendar.Items.OrderBy(i => i.Start)"
             ItemsSelector="@((item, dropzone) => item.Start.Date.ToString("d") == dropzone)"
             ItemIsDisabled="@((_) => !Calendar.EnableDragItems)"
             ItemDropped="ItemDropped"
             CanDropClass="mud-cal-month-drop-ok"
             Class="@Classname">
            <ChildContent>
                <div class="mud-cal-grid mud-cal-month-grid" style="@GridStyle">
                    @RenderBody
                </div>
            </ChildContent>
            <ItemRenderer>
                @RenderTemplate(context)
    </ItemRenderer>
    </MudDropContainer>;

    /// <summary>
    /// Renders the header of the component that contains the day names.
    /// </summary>
    protected virtual RenderFragment RenderHeader => __builder =>
    {
        for (var i = 0; i < 7; i++)
        {
            <div class="mud-cal-month-header">
                @RenderDayTitle(i)
            </div>
        }
    };

    /// <summary>
    /// Renders the day name.
    /// </summary>
    protected virtual RenderFragment RenderDayTitle(int day) => __builder => { __builder.AddContent(1, Cells[day].Date.ToString("ddd")); };

    /// <summary>
    /// Renders the main body of the month view.
    /// </summary>
    protected virtual RenderFragment RenderBody => __builder =>
    {
        for (var week = 0; week < Cells.Count / 7; week++)
        {
            @for (var i = week * 7; i < (week + 1) * 7; i++)
            {
                var cell = Cells[i];
                @RenderCell(cell)
            }
        }
    };

    /// <summary>
    /// Renders an individual cell.
    /// </summary>
    protected virtual RenderFragment RenderCell(CalendarCell cell) =>
        @<div class="@RowStyle">
            <div class="@CellClassname" style="@DayStyle(cell)" @onclick="() => OnCellLinkClicked(cell)">
                <MudDropZone T="CalendarItem" Identifier="@cell.Date.Date.ToString("d")" Class="mud-cal-month-dropzone" Style="@CellStyle">
                    @RenderCellDayNumber(cell)
                    @RenderCellContents(cell)
    </MudDropZone>
    </div>
    </div>;

    /// <summary>
    /// Renders the day number of the cell.
    /// </summary>
    protected virtual RenderFragment RenderCellDayNumber(CalendarCell cell) =>
        @<div class="@DayClassname(cell)">
            @cell.Date.Day
    </div>;

    /// <summary>
    /// Renders the contents of the cell.
    /// </summary>
    protected virtual RenderFragment RenderCellContents(CalendarCell cell) => __builder =>
    {
        if (cell.Items.Any())
        {
            <div class="mud-cal-month-cell-events">
                @foreach (var item in cell.Items)
                {
                    @CellTemplate?.Invoke(item)
                }
            </div>
        }
    };

    /// <summary>
    /// Renders the CellTemplate with a click handler if required.
    /// </summary>
    protected virtual RenderFragment RenderTemplate(CalendarItem item) => __builder =>
    {
        @if (Calendar.ItemClicked.HasDelegate)
        {
            <div @onclick="() => OnItemClicked(item)" @onclick:stopPropagation="true" class="mud-cal-clickable">
                @CellTemplate(item)
            </div>
        }
        else
        {
            <div>
                @CellTemplate(item)
            </div>
        }
    };

}