@namespace Heron.MudCalendar
@inherits MudComponentBase
@using CategoryTypes = Heron.MudCalendar.Attributes.CategoryTypes

@RenderHead

@Render

@code {
    
    /// <summary>
    /// Renders the html page head element.
    /// </summary>
    protected virtual RenderFragment RenderHead =>
        @<HeadContent>
            @RenderHeaderContent
        </HeadContent>;
    
    /// <summary>
    /// Renders the contents of the head element.
    /// </summary>
    protected virtual RenderFragment RenderHeaderContent =>
        @<link href="_content/Heron.MudCalendar/Heron.MudCalendar.min.css" rel="stylesheet"/>;

    /// <summary>
    /// Renders the component.
    /// </summary>
    protected virtual RenderFragment Render =>
        @<div class="@Classname" style="@Styles">

            <div class="d-flex flex-column mud-height-full">
                @RenderToolbar

                <div class="@ViewClassname">
                    @switch (View)
                    {
                        case CalendarView.Day:
                            @RenderDayView
                            break;
                        case CalendarView.Week:
                            @RenderWeekView
                            break;
                        case CalendarView.Month:
                        default:
                            @RenderMonthView
                            break;
                    }
                </div>
            </div>
        </div>;

    /// <summary>
    /// Defines the cell content for the Calendar.  Can be overriden for different Views by defining DayTemplate, WeekTemplate and MonthTemplate.
    /// </summary>
    [Attributes.Category(CategoryTypes.Calendar.Template)]
    [Parameter]
    public RenderFragment<CalendarItem> CellTemplate { get; set; } =
        calendarItem =>
            @<div style="width: 100%; padding: 4px;">
                <MudChip Label="true" Color="Color.Primary" Style="width: 100%; margin: 0; min-height: 36px;">@calendarItem.Text</MudChip>
            </div>;

    /// <summary>
    /// Renders the toolbar of the component including prev/next buttons, date picker and view switcher.
    /// </summary>
    protected virtual RenderFragment RenderToolbar =>
        @<div class="mud-cal-toolbar pa-4">
            <div>
                <MudIconButton Variant="@ButtonVariant" Icon="@Icons.Material.Outlined.ChevronLeft" Color="@Color" OnClick="OnPreviousClicked" Class="mr-2"/>
                <MudIconButton Variant="@ButtonVariant" Icon="@Icons.Material.Outlined.ChevronRight" Color="@Color" OnClick="OnNextClicked" Class="mr-2"/>
                <CalendarDatePicker @bind-Date="PickerDate" @bind-View="View" Variant="ButtonVariant" Color="Color"/>
            </div>
            <div>
                <EnumSwitch Value="@View" T="CalendarView" Color="@Color" AllowedValues="AllowedViews()" ValueChanged="OnViewChange"/>
            </div>
        </div>;

    /// <summary>
    /// Renders the month view.
    /// </summary>
    protected virtual RenderFragment RenderMonthView =>
        @<MonthView Color="@Color" CurrentDay="@CurrentDay" HighlightToday="@HighlightToday" CellClicked="CellClicked" MinCellHeight="MonthMinHeight" CellTemplate="@(MonthTemplate ?? CellTemplate)" Items="@Items"/>;

    /// <summary>
    /// Renders the week view.
    /// </summary>
    protected virtual RenderFragment RenderWeekView =>
        @<WeekView View="CalendarView.Week" Color="@Color" CurrentDay="@CurrentDay" HighlightToday="@HighlightToday" CellClicked="CellClicked" CellTemplate="@(WeekTemplate ?? CellTemplate)" Items="@Items"/>;

    /// <summary>
    /// Renders the day view.
    /// </summary>
    protected virtual RenderFragment RenderDayView =>
        @<DayView View="CalendarView.Day" Color="@Color" CurrentDay="@CurrentDay" HighlightToday="@HighlightToday" CellClicked="CellClicked" CellTemplate="@(DayTemplate ?? CellTemplate)" Items="@Items"/>;

}